@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-sherif
}


.center-div{
  padding-top: 10%;
}

.btn btn-success {
  padding: .4em 2em;
}
